body{
    background: rgb(49,46,79);
    background: linear-gradient(to top, rgba(49,46,79,1) 30%, rgba(73,71,120,1) 80%);
    background-attachment: fixed;
}
.main{
    margin-top:50px;
    text-align: center;
}
.texto{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.08em;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
hr.transp{
    border-color:rgb(255,255,255,0.25);
  
}
.topic-container{
    display: flex;
    justify-content: center;
}

.white-box{
    background-color: rgb(255,255,255,0.08);
    padding: 0.2em 1em 1em 1em;
    width: 250px;
    border-radius: 10px;
}